@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');


body {
    width: 2000px;
    height: 1000px;
    background-image: url("https://i2.wp.com/i.huffpost.com/gen/1783635/thumbs/o-ANGEL-FALLS-facebook.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    position: relative;
    background-color: #c0eda9; opacity: 0.6;
    color: #6b45af;
    margin-left: calc(50% - 2000px/2);
    
}

p { size: 90%;
    font-family: 'Hina Mincho', serif;
    text-align: justify;
   font-size: 30px;
   background-color: #ef806f; opacity: 0.8;
   margin-left: calc(50% - 2000px/2);
}

iframe {
    position: relative;
    left: 750px;
}
 h2 {
     position: relative;
     text-align: center;
     font-family: 'Hina Mincho', serif;
     font-size: 40px;
    background-color: lemonchiffon; opacity: 0.8;
    width: 1000px;
    left: 500px;
 }

ul {
     font-family: 'Hina Mincho', serif;
     padding: 5px;
     background-color: lemonchiffon; opacity: 0.8;
     text-align: center;
     list-style-type: square;
     font-size: 20px;

 }
img {
    width: 45px;
    height: 45px;
}